<p>User with ID
    <ng-template [ngIf]="!user.id">
        _ID_ loaded.
    </ng-template>
    <ng-template [ngIf]="user.id">
        {{user.id}}
    </ng-template>
</p>
<p>User name is
    <ng-template [ngIf]="!user.name">
        _NAME_
    </ng-template>
    <ng-template [ngIf]="user.name">
        {{user.name}}
    </ng-template>
</p>
<hr>
<a class="btn btn-primary" [routerLink]="['/users', 10, 'Anna']">Load Anna</a>