<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button (click)="onLoadServers(1)" class="btn btn-danger">Load Servers</button>
<button class="btn btn-default" (click)="onLogin()">Login</button>
<button class="btn btn-primary" (click)="onLogout()">Logout</button>